<!--suppress ALL -->
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <a routerLink="/">
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="white">alarm</mat-icon>
      <span class="logo">TomaToDo</span>
    </a>

    <div *ngIf="page === 'Landing'" class="section-links">
      <a class="section-link" href="#focus">
        Focus
        <span>|</span>
      </a>
      <a class="section-link" href="#productivity">
        Productivity
        <span>|</span>
      </a>
      <a class="section-link" href="#achievement">
        Achievement
        <span>|</span>
      </a>
      <a class="section-link" href="#sign-in">
        Try it now
        <span>|</span>
      </a>
      <a class="section-link" href="#about-author">About author</a>
    </div>

    <span class="spacier"></span>

    <button (click)="singInOrGoToApp()" *ngIf="(isAuthenticated$ | async) === false" mat-stroked-button>Sign in</button>

    <ng-container *ngIf="isAuthenticated$ | async as isAuthenticated">
      <button (click)="singInOrGoToApp()" *ngIf="page === 'Landing'" mat-stroked-button>Go to App</button>
      <div *ngIf="page === 'Application' && user$ | async as user" class="user-info">
        <span class="name">{{ user.name }}</span>
        <img [src]="user.picture" alt="Profile photo" class="photo" />
        <button [matMenuTriggerFor]="menu" aria-label="Menu icon button" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="singOut()" mat-menu-item>
            <span>Sing out</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['linkone']">Link One</a>
      <a mat-list-item [routerLink]="['linktwo']">Link Two</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
