<ttd-header page="Landing"></ttd-header>
<div class="block" id="focus">
  <p class="title">
    <b>Focus</b>
    on your task
  </p>
  <ttd-svg-wave class="primary"></ttd-svg-wave>
</div>
<div class="block" id="productivity">
  <p class="title">
    Become more
    <b>productive</b>
  </p>
  <ttd-svg-wave class="accent"></ttd-svg-wave>
</div>
<div class="block" id="achievement">
  <p class="title">
    <b>Achieve</b>
    your goal
  </p>
  <ttd-svg-wave class="primary"></ttd-svg-wave>
</div>
<div class="block" id="sign-in">
  <p class="title">
    Sign in for
    <b>free</b>
  </p>
  <ttd-svg-wave class="accent"></ttd-svg-wave>
</div>
<div class="block" id="about-author">
  <p class="title">
    <b>About author</b>
  </p>
  <div class="photo"></div>
  <p class="description">
    Frontend | Backend | Full Stack
    <b>JavaScript</b>
    Developer | Architect with a
    <b>4 year</b>
    proven track record in developing
    <b>Web, Mobile, and Desktop</b>
    applications using Web Technologies.
    <br />
    Strong work ethics and attention to detail for
    <b>bug-free</b>
    software.
    <br />
    A
    <b>perfectionist</b>
    by nature with a result-oriented, cost-efficient, and robust
    <b>clients' approach.</b>
    <br />
  </p>
  <ttd-svg-wave class="primary"></ttd-svg-wave>
</div>
<footer>
  <a href="https://www.linkedin.com/in/anastasia-zhivaeva/" target="_blank">
    <img alt="LinkedIn" src="assets/images/linkedin.svg" />
  </a>
  <a href="https://www.facebook.com/anastasia.zhivaeva.566" target="_blank">
    <img alt="Facebook" src="assets/images/facebook.svg" />
  </a>
  <a href="https://www.instagram.com/anastasia.a.zhivaeva/" target="_blank">
    <img alt="Instagram" src="assets/images/instagram.svg" />
  </a>
  <p>Copyright © 2020 Anastasia Zhivaeva</p>
  <span class="spacier"></span>
  <a routerLink="/">
    <mat-icon>arrow_upwards</mat-icon>
  </a>
</footer>
