@import '~@angular/material/theming';
@import 'src/assets/styles/imports';

:host {
  &.primary {
    svg > path {
      fill: mat-color($mat-dark-gray, A700);
    }
  }

  &.accent {
    svg > path {
      fill: mat-color($mat-yellow, A400);
    }
  }

  &.warn {
    svg > path {
      fill: mat-color($mat-deep-orange, A200);
    }
  }
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
